.red {
    background-color: red;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: ;
    margin: 0 auto;
    max-width: 1500px;
}